﻿body
{
	/* font-family: Arial, Helvetica, sans-serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
    */
	color: #333;
	/* background-color: #316b16; */
	/* background-color: white; */	
}

a img
{
    border: 0;
}

/* header bar */

#head
{
	background-color: Black;
	background-image: url(img/cb-logo-s.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 4px 30px 0px 10px;
	height: 65px;
	text-align: right;
	color: White;
	font-size: 14px;
	min-width: 600px;
}

#head a
{
	padding: 0px 6px 0px 6px;
	color : Yellow;
	text-decoration: none;
}

#head a:hover
{
	text-decoration: underline;
}

/* navigation bar */

/*
#navbar
{
	padding: 2px 6px 2px 8px;
	margin: 0px 0px 0px 0px;
	background-color: #D6D4C7;
	color: Black;
	font-size: 12px;
	min-width: 600px;
}

#navbar a
{
	padding: 0px 6px 0px 6px;
	color: #004400;
	text-decoration: none;
	/ * font-weight: bold; * /
}

#navbar a:hover
{
	text-decoration: underline;
}
*/

/* footer */

#footbar
{
	margin: 20px 50px 4px 50px;
	padding: 4px 6px 4px 8px;
	border-top: solid 1px #bbbbbb;
	color: #555555;
	font-size: 11px;
	text-align: center;
	min-width: 600px;
}

#footbar span
{
	padding: 0px 6px 0px 6px;
}

#footbar a
{
	color: #990000;
	text-decoration: none;
}

#footbar a:hover
{
	text-decoration: underline;
}

/* main section */

div#main
{
	min-height: 300px;
	min-width: 600px;
}

#main
{
}

#main:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* left navigation bar */

div#leftbar
{
	margin-top: 15px;
	width: 180px;
	min-width: 180px;
	float: left;
	font-size: 11px;
}

#leftbar ul
{
	margin: 0px;
	padding: 0;
	list-style-type: none;
}

#leftbar li
{
	margin: 0px;
	padding-left: 2px;
	background-color: #D6D4C7;
	color: #000000;
}
#leftbar li li
{
	margin: 0px;
	padding-left: 15px;
	background-color: #ffffff;
	color: #000000;
}

#leftbar a
{
	color: #004400;
	text-decoration: none;
}

#leftbar a:hover
{
	text-decoration: underline;
}


/* content section */
/*
div#content
{
	margin: 0px 20px 20px 200px;
	min-width: 380px;
	max-width: 800px;
	overflow: hidden;
	font-size: 11pt;
	line-height: 1.3em;
}

div#content h1, h2, h3
{
    padding: .3em;
    margin: 1em 0pt .6em 0pt;
    border: 0pt;
    text-align: left;
    clear: both;
}

div#content h1
{
	/ * padding: 0pt; * / / * margin: 15pt 0pt 10pt 0pt; * / / * border: 0pt; * /
	margin-top: 0.4em;
	font-size: 1.3em;
	background-color: #FFFFAA;
}

div#content h2
{
	font-size: 1.2em;
	background-color: #CCFFCC;
}

div#content h3
{
	font-size: 1.1em;
	padding-left: 0pt;
	color: #990000;
}
*/
h1 a
{
    text-decoration: none;
}

h2 a
{
    text-decoration: none;
    color: #000000;
}
h2 a:followed
{
    text-decoration: none;
    color: #000000;
}
h2 a:hover
{
    text-decoration: none;
    color: #800080;
}





div#content p
{
	padding: 0pt;
	margin: 0pt 0pt 1em 0pt;
	border: 0pt;
}

div#content td
{
	vertical-align: top;
}

/* property tables */

table.prop
{
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px 0px 0 1px;
}

blockquote {
  background: #eeeeee;
  border-left: 10px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-margin-start: 5px;
}

td.prop
{
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 0px 1px 1px 0px;
	padding: 4px 10px 3px 3px;
	font-weight: bold;
}

table.prop th
{
    padding: 4px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #CCCCCC;
    background-color: #666666;
    color: #FFFFFF;
}

table.prop td
{
    padding: 4px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #CCCCCC;
}

span.prop, property, em.prop
{
    font-weight: bold;
    font-style: italic;
    color: #009900;
    white-space: nowrap;
}

a.prop
{
    font-weight: bold;
    font-style: italic;
    color: #009900;
    text-decoration: none;
}
a.prop:hover
{
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    background-color: #009900;
}

span.val, em.val, value
{
    font-style: italic;
    color: #006600;
}

span.cmd, em.cmd, cmd
{
    font-style: italic;
    color: #0000FF;
    font-weight: bold;
    white-space: nowrap;
}

a.cmd
{
    font-weight: bold;
    font-style: italic;
    color: #0000FF;
    text-decoration: none;
}
a.cmd:hover
{
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    background-color: #0000FF;
}


span.key, keystroke, em.key
{
    font-family: 'Courier New' , Courier, monospace;
    font-weight: bold;
    color: #0000FF;
    font-size: 110%;
}

span.name, name, em.name
{
    font-style: italic;
    font-weight: bold;
    color: #990000;
}

a.name
{
    font-weight: bold;
    font-style: italic;
    color: #990000;
    text-decoration: none;
}
a.name:hover
{
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
    background-color: #990000;
}


td.desc
{
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 0px 1px 1px 0px;
	padding: 4px 8px 3px 3px;
}

.new
{
    background-color: #FFFF99;
    color: #990000;
    font-weight: bold;
    font-size: 0.8em;
    padding: 2px;
}

blockquote.warning
{
    border-color: #EEAA77;
    background-color: #FFFF99;
}

div.warning
{
    border: 1px solid #FF3300;
    background-color: #FFFF99;
    padding: 10px;
}

span.warning, blockquote.warning strong
{
    color:#660000;
    font-weight: bold;
}

blockquote.note
{
    border-color: #99CCFF;
    background-color: #EEFFFF;
}

div.note, p.note, div#content p.note
{
    border: 1px solid #99CCFF;
    background-color: #EEFFFF;
    padding: 10px;
    margin-bottom: 15px;
}

span.note, blockquote.note strong
{
    color: #0066CC;
    font-weight: bold;
}

span.file, em.file
{
    font-weight: bold;
    color:#000099;
}

h3 a
{
    color: #990000;
    text-decoration: none;
}
h3 a:hover
{
    background-color: #990000;
    color: White;
}

table.n
{
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #808080;
    font-size: 12px;
}

table.n th
{
    padding: 4px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #808080;
    background-color: #666666;
    color: #FFFFFF;
}

table.n td
{
    padding: 4px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #808080;
}

pre.code
{
    padding: 6px 6px 6px 12px;
    background-color: #000000;
    font-family: 'Courier New' , Courier, monospace;
    color: #99FFCC;
    font-weight: normal;
}
pre.code .comment, pre.code comment
{
    color: #66FFFF;
    font-weight: bold;
}
pre.code .keyword, pre.code keyword
{
    color: #FFFF00;
    font-weight: bold;
}
pre.code .string, pre.code string
{
    color: #FFFFFF;
}

.refinfo
{
    font-size: 10px;
    color: #3366FF;
    float: right;
}

a.download
{
    border: 1px solid #FF9966;
    padding: 16px 12px 16px 64px;
    background-image: url('img/download.png');
    background-repeat: no-repeat;
    text-decoration: none;
    vertical-align: middle;
    background-color: #FFFFFF;
    font-weight: bold;
    line-height: 60px;
}

a.download:hover
{
    background-color: #FFFFCC;
}

img.ileft
{
    margin-right: 12px;
    margin-bottom: 12px;
}

img.iright
{
    margin-left: 12px;
    margin-bottom: 12px;
}

img.icenter
{
    display: block;
    margin: 0 auto;
}