<tr>
<td>
	<property>Arc Fit Tolerance</property>
	<br /><span class="new">[New! 0.9.8N]</span>
</td>
<td>
    <p>The tolerance used when automatic arc fitting is applied.</p>
    <p>Zero will use an automatically calculated value.</p>
</td>
</tr>
