<tr>
<td>
	<property>Additive</property>
</td>
<td>
    <p>If set to <b>True</b>, an additive toolpath will be generated, suitable for extrusion heads.</p>
    <p>Additive toolpaths are generated from lowest to highest Z levels with the lowest (starting) level at Z=<property>Stock Surface</property>.</p>
    <p>For best results, this setting would be combined with a <value>Waterline Rough</value> 3D profile methods, and a small <property>Depth Increment</property>.</p>
    <p>This method is very experimental at the moment and more work is needed to tie in with the post processor to control the extruder.</p>
</td>
</tr>
