<tr>
<td>
	<property>Auto Arc Fitting</property>
	<br /><span class="new">[New! 0.9.8N]</span>
</td>
<td>
    <p>Whether to apply arc fitting.</p>
    <p>Arc fitting will make toolpaths smoother to machine and faster to calculate, but may introduce some inaccuracy.</p>
</td>
</tr>
