<tr>
<td>
	<property>Back Face Culling</property>
</td>
<td>
    <p>To improve code generation speed, model faces pointing away from the front are ignored.</p>
    <p>This can cause problems when the triangle winding order is inconsistent, so this behaviour can be disabled by setting <property>Back Face Culling</property> to <value>False</value>.</p>
</td>
</tr>
