<tr>
<td>
	<property>Boundary Method</property>
</td>
<td>
    <p>This property controls the shape of the area around the model to machine.</p>
    <p>Boundary shapes options are:</p>
    <p><value>Shape Outline</value> - the outline shape of the source 3d models.</p>
    <p><value>Bounding Box</value> - a rectangle enclosing the source geometry.</p>
    <p><value>Selected Shapes</value> - A list of 3D or 2D shapes specified in <property>Boundary Shape Ids</property>.</p>
</td>
</tr>
