<tr>
<td>
	<property>Back Face Zero Z</property>
</td>
<td>
    <p>If the <property>Back Face</property> setting is enabled, this is the current Z coordinate that will be at Z=0 after the model is 'Flipped' about the <property>Flip Axis</property>.</p>
</td>
</tr>
