<tr>
<td>
	<property>Boundary Margin</property>
</td>
<td>
    <p>The outer boundary shape, as determined by the <property>Boundary Method</property> setting, is extended by the distance give in the <property>Boundary Margin</property> setting.</p>
    <p>It is recommended that a margin greater than 0 is used when using waterline profile methods in combination with <value>Shape Outline</value> boundary methods.</p>
</td>
</tr>
