<tr>
<td>
	<property>Clip Area Min</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>A 2D Point, used with <property>Clip Area Max</property> to define a clipping area.</p>
    <p>If <property>Clip Area Max</property> and <property>Clip Area Min</property> coordinates are both 0, the machining area will not be clipped.</p>
</td>
</tr>
