<tr>
<td>
	<property>Clip Area Max</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>A 2D Point, used with <property>Clip Area Min</property> to define a clipping area.</p>
</td>
</tr>
