<tr>
<td>
	<property>Plane Slice Only</property>
</td>
<td>
    <p>
        CamBam's waterline routines have been designed to work best with natural / curved shapes.
        Engineering shapes with perpendicular sides can potentially cause problems.  
        If problems are encountered, setting <property>Plane Slice Only</property> to <value>True</value> can help but will
        only work with shapes that do not have any overhangs.
    </p>
</td>
</tr>
