<tr>
<td>
	<property>Profile 3D Method</property>
</td>
<td>
    <p>
        The method used to generate the 3D toolpath.
    </p>
    <ul>
        <li><value>Horizontal</value> - Use a Z scanning method in horizontal direction.</li>
        <li><value>Vertical</value> - Use a Z scanning method in vertical direction.</li>
        <li><value>Waterline Rough</value> - Uses a series of waterline slices which are pocketed up to the boundary shape.</li>
        <li><value>Waterline Finish</value> - Creates a profile using the tool offset at each waterline slice.</li>
    </ul>
</td>
</tr>
