<tr>
<td>
	<property>Resolution</property>
</td>
<td>
    <p>
        For <value>Horizontal</value> and <value>Vertical</value> 3D profile methods, this is the distance along each scan line (expressed
        as a fraction (0-1) of the cutter diameter), for each Z height test point.<br>
        Larger resolution values are faster but could result in some features being over cut.
    </p>
</td>
</tr>
