<tr>
    <td>
        <property>Roughing / Finishing</property>
    </td>
    <td>
        <p>Used control whether this should be a roughing or finishing pass.</p>
        <p>
            For horizontal and vertical scanline operations:<br>
            If <value>Roughing</value> is selected, toolpaths at each <span class="name">Depth Increment</span> are calculated.<br>
            If <value>Finishing</value> is selected, only the toolpath at the final <span class="name">Target Depth</span> is calculated.
        </p>
    </td>
</tr>
