<tr>
<td>
	<property>StepOver</property>
</td>
<td>
    <p>The cut is increased by this amount each step, expressed as a fraction (0-1) of the cutter diameter.</p>
    <p>For horizontal and vertical 3D profile methods, this is the distance between each scan line.</p>
    <p>For waterline roughing, this is the distance between fill offset lines.</p>
    <p>For waterline finishing, this value is not used.</p>
</td>
</tr>
