<tr>
<td>
    <property><a name="ScanlineGradientThreshold">Scanline Gradient Threshold</a></property>
	<br /><span class="new">[New! 0.9.8N]</span>
</td>
<td>
    <p>For horizontal and vertical scanline methods, this property will suppress tool path segments steeper than a given gradient.</p>
    <p>The value is specified in degrees where 90 degrees is vertical (Z).</p>
    <p>
        A scanline finish with a reduced gradient threshold is useful when combined with a waterline finish operation.  Waterline finish is best suited for
        steep areas but may result in uncut bands in shallow areas due to the limits its depth increment.  Whereas scanlines work well on flat areas
        but can result in scalloped tool marks on steep model sides.
    </p>
    <p>Using a <property>Boundary Margin</property> of (minus) the tool radius is recommended when using this property to restrict tool paths to shallow areas.</p>
</td>
</tr>
