<tr>
<td>
	<property>Spiral Flat Base</property>
</td>
<td>
    <p>For spiral drilling only.</p>
    <p> If <value>True</value>, a full circle is added to the spiral base, to ensure a flat hole bottom.</p>
    <p>	<value>False</value> will avoid the full circle cut, which may be useful for thread milling.</p>
</td>
</tr>
