<tr>
<td>
	<property>Drilling Method</property>
</td>
<td>
    <p>Method used to generate the drilling instruction. Options are:</p>
    <p>
        <value>Canned Cycle</value> - Uses G81,G82 or G83<br>
        <value>SpiralMill_CW</value> - Clockwise spiral toolpath<br>
        <value>SpiralMill_CCW</value> - Counter clockwise spiral toolpath<br>
        <value>CustomScript</value> - Uses the CustomScript property script
    </p>
</td>
</tr>
