<tr>
<td>
	<property>Dwell</property>
</td>
<td>
    <p>
        The time to pause at the bottom of the drill cycle.  The unit of time measurement
        depends on the machine interpreter configuration and may be seconds or milliseconds.
    </p>
</td>
</tr>
