<tr>
<td>
	<property>Drill Lead Out</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>For spiral drilling only.</p>
    <p>If <value>True</value>, then move toward or away from the center of the hole before retracting.</p>
</td>
</tr>
