<tr>
<td>
	<property>Hole Diameter</property>
</td>
<td>
    <p>
        Used for spiral mill drilling and is the diameter of the hole required.
        If this is set to Auto, then the sizes of the selected shapes are used to calculate the hole diameter.
    </p>
</td>
</tr>
