<tr>
<td>
	<property>Depth Increment</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>The depth increment controls the pitch of the spiral toolpath if <property>Drilling Method</property> = <value>Spiral Mill</value>.</p>
    <p>This is the depth of cut for each loop of the spiral.</p>
</td>
</tr>
