<tr>
<td>
	<property>Custom Script</property>
</td>
<td>
    <p>Custom GCode script used for drilling if DrillingMethod=CustomScript</p>
    <p>Various macros can be used in this script which will be expanded by the post processor.</p>
    <p>
        |   - denotes a new line<br>
        $c  - Clearance Plane<br>
        $d  - Hole diameter<br>
        $f  - plunge feedrate<br>
        $h  - Z coordinate of each drill point  <span class="new">[New! 0.9.8]</span><br>
        $n  - tool number<br>
        $p  - Dwell<br>
        $q  - Peck distance<br>
        $r  - Retract height    <span class="new">[New! 0.9.8]</span><br />
        $s  - Stock Surface<br>
        $t  - tool diameter<br>
        $x  - X coordinate of each drill point<br>
        $y  - Y coordinate of each drill point<br>
        $z  - Target depth<br>
    </p>
</td>
</tr>
