<tr>
<td>
	<property>Lead Out Length</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>
        For spiral drilling only.  The distance to move in the lead out direction if <property>DrillLeadOut</property>=<value>True</value>.<br>
        If length is positive, move toward the hole center.<br>
        If length is negative, move away from the center.
    </p>
</td>
</tr>
