<tr>
<td>
	<property>Depth Increment</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
    <p>Depth increment of each machining pass. Determines the number of passes to reach the final target depth.</p>
</td>
</tr>
