<tr>
<td>
	<property>Target Depth</property>
</td>
<td>
    <p>The Z coordinate of the final machining depth.</p>

	<div class="warning">For engraving operations, the Z coordinate of the source drawing object point will also be added
	to the toolpath so that the engraving toolpath can 'follow' the shape's Z contour.</div>
</td>
</tr>
