<tr>
<td>
	<property>Lathe Cut Direction</property>
</td>
<td>
    <ul>
    <li><value>Right Hand</value> - Cuts will move from right (+Z) to left (-Z).</li>
    <li><value>Left Hand</value> - Cuts will move from left (-Z) to right (+Z).</li>
    </ul>
</td>
</tr>