<tr>
<td>
	<property>Stock Surface</property>
</td>
<td>
    <p>This is the X offset of the stock surface at which to start machining.</p>
    <p>Can be set explicitly or determined from the stock object.  Stock surface should always be expressed as a <b>radius</b>.</p>
</td>
</tr>
