<tr>
<td>
	<property>Tool Profile</property>
</td>
<td>
    <p>The shape of the cutter.  The new <value>Lathe</value> tool profile should always be used.</p>
    <p>
        If the tool profile is <value>Unspecified</value>, the profile from the tool information stored in the tool library
        for the given tool number will be used.
    </p>
</td>
</tr>
