<tr>
<td>
	<property>Roughing / Finishing</property>
</td>
<td>
    <p>
        The <property>Roughing / Finishing</property> property is used to select the machining method.  If <value>Roughing</value> is selected, a number of straight
        passes are used at each depth increment, down to the source shape + roughing clearance, followed by a single cut at the
        roughing clearance distance that follows the shape.  For <value>Finishing</value>, a single cut that follows the shape at the roughing clearance distance
        is used.
    </p>
</td>
</tr>