<tr>
<td>
	<property>Clearance Plane</property>
</td>
<td>
    <p>The safe <b>X</b> lathe coordinate to avoid any stock.  The clearance plane value should always be expressed as a <b>radius</b>.</p>
</td>
</tr>