<tr>
<td>
	<property>Lathe Lead In Length</property>
	<br /><span class="new">New [0.9.8N]</span>
</td>
<td>
    <p>Controls the length of the 45 degree lead in moves.  A zero value will disable these moves.</p>
</td>
</tr>
