<tr>
<td>
	<property>Machining Origin</property>
</td>
<td>
<p>A drawing point that will be used as the machining origin (X=0,Y=0) point when gcode is created.</p>
<p markdown="1">The ellipsis button ![](../images/CONTENT.jpg) to the right of this property can be used to select a point in the drawing.</p>
<p>
An 'X' icon will be displayed on the drawing at the machining origin point.  This cross can be dragged to
a new location using the mouse.
</p>
<p><b>NOTE:</b> MachiningOrigin replaces the GCodeOrigin and GCodeOriginOffset properties of earlier releases.</p>
</td>
</tr>
