<tr>
<td>
	<property>Milling Direction</property>
</td>
<td>
    <p>Controls the direction the cutter moves around the toolpath.</p>
    <p>
        <value>Conventional</value> | <value>Climb</value> | <value>Mixed</value>
    </p>
</td>
</tr>
