<tr>
<td>
	<property>Lead In Move</property>
</td>
<td>
<p>Defines the type of lead in move to use.</p>
<p>
    <property>Lead Move Type</property>: <value>None</value> | <value>Spiral</value> | <value>Tangent</value><br>
    <property>Spiral Angle</property>: Used by spiral and tangents to control ramp angle.<br>
    <property>Tangent Radius</property> : The radius of the tangent lead in<br>
    <property>Lead Move Feedrate</property> : The feedrate to use for the lead move.  If 0, <property>Cut Feedrate</property> is used.
</p>
<p markdown="1">Refer to the [lead move section](lead-moves.md){:.name} for more information.</p>
</td>
</tr>
