<tr>
<td>
	<property>Holding Tabs</property>
</td>
<td>
<p>Defines holding tabs (bridges) to prevent cut parts moving while cutting.</p>
<p markdown="1">See the [holding tab reference](holding-tabs.md){:.name} for more information.</p>
</td>
</tr>
