<tr>
<td>
	<property>Clearance Plane</property>
</td>
<td>
    <p>The clearance plane (offset from the work plane).</p>
    <p>The clearance plane should be clear of the stock and any holding devices to allow free movement to any location.</p>
</td>
</tr>