<tr>
<td>
	<property>Lead Out Move</property>
	<br/><span class="new">[New! 0.9.8]</span>
</td>
<td>
<p>Defines the type of lead out move to use.</p>
<p markdown="1">Refer to the [lead move section](lead-moves.md){:.name} for more information.</p>
</td>
</tr>
