<tr>
<td>
	<property>Side Profile</property>
</td>
<td>
    <p>
        A composite property that enables the creation of pseudo 3D
        objects from 2D shapes by creating radii and slopes.
    </p>
<p markdown="1">See the [side profiles reference](side-profile.md){:.name} for more information.</p>
</td>
</tr>
