<tr>
<td>
	<property>Inside / Outside</property>
</td>
<td>
    <p>
        Controls whether to cut Inside or Outside the selected shapes.<br>
        For open shapes there is not inside or outside, so the point order controls which side of the line to cut.
    </p>
</td>
</tr>
