<tr>
<td>
	<property>Roughing / Finishing</property>
</td>
<td>
    <p>
        Currently only supported by <span class="name">3D Profile</span> and <span class="name">Lathe</span> machining operations.
    </p>
</td>
</tr>
