<tr>
<td>
	<property>Corner Overcut</property>
	<br/><span class="new">[New 0.9.8]</span>
</td>
<td markdown="1">
![](../images/overcut.jpg){:align="right" .iright}
Set CornerOvercut to True to add an extra machining move, which will cut into inside corners that would not ordinarily be cut.
This will result in some stock overcutting but is useful in cases where machined parts
will be fitted together such as slot joints or inlays.
</td>
</tr>
