<tr>
<td>
	<property>Finish Stepover At Target Depth</property>
</td>
<td>
    <p>If <value>True</value>, the finish stepover move is only used once the final target depth is reached.</p>
    <p>If <value>False</value>, a finish stepover will be applied at each depth increment.</p>
</td>
</tr>
