<tr>
<td>
	<property>Region Fill Style</property>
	<br /><span class="new">[New! 0.9.8]</span>
</td>
<td>
<p>This option controls the pattern used to fill the pockets.</p>
<p markdown="1">The effects of each option can be seen when using the new [Draw - Fill Region](../cad/region-fill.md){:.cmd} menu option.</p>
<p>Options are:</p>
<ul>
<li><value>Horizontal Hatch</value> region filled with horizontal lines</li>
<li><value>Vertical Hatch</value> region filled with vertical lines</li>
<li><value>Inside+Outside Offsets</value> region filled with progressive offsets from outside in, unioned with offsets from islands radiating outward.</li>
<li><value>Outside Offsets</value> region filled with progressive offsets from outside in (like current pocket method).</li>
<li><value>Inside Offsets</value> region filled with offsets from islands radiating outward.</li>
</ul>
</td>
</tr>
