<tr>
<td>
	<property>Post Processor</property>
</td>
<td>
    <p>
        A selection from a drop down list which contains a list of all the post processors available.  The post processor controls how the gcode files are formatted and are user configurable using XML based post processor files.
    </p>
</td>
</tr>
