<tr>
<td>
	<property>Post Processor Macros</property>
</td>
<td>
    <p>
        This is a text field containing multiple macro definitions (one per line), of the format $macro=value.
        These macros can be used by the selected post processor and are a handy way of passing parameters from the drawing to the post processor.
    </p>
</td>
</tr>
