<tr>
<td>
	<a name="Stock"><property>Stock</property></a>
</td>
<td>
<p>
    The stock object is used to define the dimensions of a block of material from which the part will be cut.
</p>
<p>
    The properties of the stock object can be used to automatically determine some machining properties.
</p>
<ul>
<li>If a machining operation or style's <property>Stock Surface</property> property is set to <value>Auto</value>, the stock's stock surface value will be used.</li>
<li>If a machining operation or style's <property>Target Depth</property>  property is set to <value>Auto</value>, the stock's stock surface and Z size will be used
to determine the target depth, so a machining operation will by default machine all the way through the stock.</li>
</ul>
<p>Stock properties:</p>
<p>
    <property>Material</property>: Informational text that describes the stock material.<br>
    <property>Stock Offset</property>: X and Y offset of the lower left corner of the stock block. For example, a stock offset of -10,-20
    would position the stock 10 units to the left of the Y axis (X=0) and 20 units below the X axis (Y=0).<br>
    <property>Stock Surface</property>: The Z location of the top of the stock block.<br>
    <property>Stock Size</property>: The X, Y and Z dimensions of the stock block.<br>
    <property>Color</property>: Color to use when displaying this stock object.
</p>
<p>
    Stock is undefined if the X,Y and Z sizes are all zero. Stock can be defined at the part or machining level.
    Stock defined at the part level will override and machining level stock definitions and will be used for all operations within the part.
</p>
<p>
    The stock object dimensions can also be passed to simulators such as CutViewer when post processors with appropriate stock macros are included, such as the
    <i>Mach3-CutViewer</i> post processor.
</p>
</td>
</tr>
