<tr>
<td>
	<property>Style</property>
</td>
<td>
<p markdown="1">Select a default [CAM Style](cam-style.md){:.name} for this part.</p>
<p>All machining operations in the part will use this style unless set otherwise in the machining operation's Style property.</p>
</td>
</tr>
