<tr>
<td>
	<property>Transform</property>
</td>
<td>
    <p>A 4 x 4 matrix of numbers used for general transformations of the drawing objects.</p>
    <p>The transform matrix can be used for rotations, translations and scaling about all 3 axis.</p>
    <p><value>Identity</value> indicates no transformations will be applied to the object.</p>
</td>
</tr>
