---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// test

@import
  "theme/cbdoc/variables",
  "bootstrap",
  "theme/cbdoc/bootswatch",
  "syntax-highlighting",
  "typeahead",
  "side-navbar"
;

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: $navbar-height + $navbar-margin-bottom + $subnavbar-height;
  margin-bottom: 46px;
}

.navbar-brand{
  img{
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 0;
  }
}


.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: -37px;
}
.navbar-container {
  font-size: 16px;
  max-width: 992px;
  // margin-left: 0;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.navbar.navbar-subnav
{
    background-color: #D6D4C7;
	color: Black;
    top: $navbar-height + $navbar-margin-bottom + 1;
    min-height: $subnavbar-height;
    line-height: 1.1;
    z-index: 1029;
}

.navbar-subnav .navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-subnav .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-sub
{
    @extend .navbar-nav;
}

.navbar-sub > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
	color: #004400;
}



.page-content {
  padding-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  padding-top: 10px;
  background-color: $gray-lighter;
  color: $gray-dark;
  z-index: -1;
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}


/*
*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
*/

.navbar-form .has-feedback .form-control-feedback{
  top:10px
}

.navbar.navbar-default
{
    // background-image: url("../img/CamBam-logo.svg");
    background-image: url("../img/CamBam-logo.png");
    background-repeat: no-repeat;
    //background-position: 5px 5px;
    background-position: left top;
    // background-size: auto 50px;
    margin-bottom: 0;
}

// used for sidebar

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
}

#sidebar.active {
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*
@media (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
*/

#sidebar li
{
	margin: 0px;
	//padding-left: 2px;
	background-color: #D6D4C7;
	color: #000000;
}

#sidebar li a
{
	padding-left: 5px;
}

#sidebar li li
{
	margin: 0px;
	padding-left: 15px;
	background-color: #ffffff;
	color: #000000;
}

#sidebar a
{
	color: #004400;
	text-decoration: none;
}

#sidebar a:hover
{
	text-decoration: underline;
}

/*
#sidebar ul li a {
    font-size: 1.1em;
    display: block;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
*/

div.sidemenu
{
    padding-left: 0;
}

@media (max-width: 991px) {
    div#content
    {
        padding-left: $line-height-computed;
    }
}

@media (min-width: 992px) {
    div#content {
    padding-left: $nav-side-width + $line-height-computed;
    }
    .nav-side-menu 
    {
        top: $navbar-height + $subnavbar-height + 2;
        height: calc(100vh - #{$navbar-height} - #{$subnavbar-height} - #{4px} );
    }
}

ul.subcontents
{
    padding-left: 10px;
}


.subcontents li
{
    list-style-type: none;
}
.subcontents h3
{
    margin: 5px 0 5px 20px;
}
.subcontents a:hover
{
    text-decoration: none;
}

a.anchor
{
    display: block;
    position: relative;
    top: -($navbar-height + $subnavbar-height + 20px);
    visibility: hidden;
}

figure
{
    display: inline;
    margin: 4px;
}

figure.tile
{
    display: inline-table;
}