<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="shortcut icon" href="{{base}}/img/favicon.ico">

    <link rel="stylesheet" href="{{base}}/css/main.css">
    <link rel="stylesheet" href="{{base}}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{base}}/cb.css" type="text/css" />
    <link rel="stylesheet" href="{{base}}/js/photoswipe.css" />
    <link rel="stylesheet" href="{{base}}/js/default-skin/default-skin.css" />

    <meta name="copyright" content="HexRay Ltd" />

    <title>{{ page.title }}</title>

    <script type="text/javascript">
		var hilight_hljs = function(){
		  $('pre code').each(function(i, e){hljs.highlightBlock(e, '  ');});
		};
		var hilight_copy = function(){
		  $('.insert').each(function(index, element){
			var e = $(element);
			e.html($(e.html() + ' pre').parent().html());
		  });
		};
        /*
		$(document).ready(function(){
		  hilight_hljs();
		  hilight_copy();
		});
        */
    </script>

</head>
