<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="{{base}}/js/jquery-1.12.4.min.js"></script>

<script src="{{base}}/js/bootstrap.min.js"></script>
<script src="{{base}}/js/typeahead.bundle.min.js"></script>
<script src="{{base}}/js/photoswipe.min.js"></script>
<script src="{{base}}/js/photoswipe-ui-default.min.js"></script>
<script src="{{base}}/js/main.js"></script>
