<div class="nav-side-menu">
    <div class="brand"><a href="{{base}}/contents.html">Contents</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#basicsSubmenu" class="collapsed">
                <a href="{{base}}/basics.html">Basics</a> <span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse in" id="basicsSubmenu">
                <li><a href="{{base}}/user-interface.html">User Interface</a></li>
                <li><a href="{{base}}/basics-drawing-and-system.html">Drawing and System tabs</a></li>
                <li><a href="{{base}}/basics-rotating-and-panning.html">Rotating and Panning</a></li>
                <li><a href="{{base}}/basics-selecting-objects.html">Selecting Objects</a></li>
                <li><a href="{{base}}/toolpaths-and-gcode.html">Toolpaths and Gcode</a></li>
                <li><a href="{{base}}/drawing-units.html">Drawing Units</a></li>
                <li><a href="{{base}}/file-menu.html">File Menu</a></li>
                <li><a href="{{base}}/view-menu.html">View Menu</a></li>
                <li><a href="{{base}}/tools-menu.html">Tools Menu</a></li>
                <li><a href="{{base}}/simple-example.html">Simple Example</a></li>
                <li><a href="{{base}}/keyboard-shortcuts.html">Keyboard Shortcuts</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#camSubmenu" class="collapsed">
                <a href="{{base}}/cam/index.html">Machining (CAM)</a> <span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse in" id="camSubmenu">
                <li><a href="{{base}}/cam/basics.html">Machining Basics</a></li>
                <li><a href="{{base}}/cam/profile.html">Profile</a></li>
                <li><a href="{{base}}/cam/pocket.html">Pocket</a></li>
                <li><a href="{{base}}/cam/drill.html">Drill</a></li>
                <li><a href="{{base}}/cam/engrave.html">Engrave</a></li>
                <li><a href="{{base}}/cam/3d.html">3D Profile</a></li>
                <li><a href="{{base}}/cam/lathe.html">Lathe</a></li>
                <li><a href="{{base}}/cam/creating-gcode.html">Creating GCode</a></li>
                <li><a href="{{base}}/cam/machining-options.html">Machining Options</a></li>
                <li><a href="{{base}}/cam/gcode-editor.html">Edit Gcode</a></li>
                <li><a href="{{base}}/cam/part.html">CAM Part</a></li>
                <li><a href="{{base}}/cam/cam-style.html">CAM Styles</a></li>
                <li><a href="{{base}}/cam/lead-moves.html">Lead Moves</a></li>
                <li><a href="{{base}}/cam/holding-tabs.html">Holding Tabs</a></li>
                <li><a href="{{base}}/cam/side-profile.html">Side Profiles</a></li>
                <li><a href="{{base}}/cam/post-processor.html">Post Processor</a></li>
                <li><a href="{{base}}/cam/nesting.html">Nesting</a></li>
                <li><a href="{{base}}/cam/back-plotting.html">Back Plotting</a></li>
                <li><a href="{{base}}/cam/tool-libraries.html">Tool Libraries</a></li>
                <li><a href="{{base}}/cam/speeds-and-feeds.html">Speeds and Feeds Calculator</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#cadSubmenu" class="collapsed">
                <a href="{{base}}/cad/index.html">Drawing (CAD)</a> <span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse in" id="cadSubmenu">
                <li><a href="{{base}}/cad/entities.html">Entities</a></li>
                <li><a href="{{base}}/cad/script-object.html">Script Object</a></li>
                <li><a href="{{base}}/cad/bitmap.html">Bitmaps</a></li>
                <li><a href="{{base}}/cad/layers.html">Layers</a></li>
                <li><a href="{{base}}/cad/transformations.html">Transformations</a></li>
                <li><a href="{{base}}/cad/operations.html">Operations</a></li>
                <li><a href="{{base}}/cad/edit-polyline.html">Edit Polyline</a></li>
                <li><a href="{{base}}/cad/edit-surface.html">Edit Surface</a></li>
                <li><a href="{{base}}/cad/edit-point-lists.html">Edit Points</a></li>
                <li><a href="{{base}}/cad/draw-surface.html">Creating Surfaces</a></li>
                <li><a href="{{base}}/cad/region-fill.html">Region Fill</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#tutSubmenu" class="collapsed">
                <a href="{{base}}/tutorials/index.html">Tutorials</a> <span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse in" id="tutSubmenu">
                <li><a href="{{base}}/tutorials/profile.html">Profile</a></li>
                <li><a href="{{base}}/tutorials/pocket.html">Pocketing</a></li>
                <li><a href="{{base}}/tutorials/drill.html">Drilling</a></li>
                <li><a href="{{base}}/tutorials/heightmap.html">Bitmap Heightmaps</a></li>
                <li><a href="{{base}}/tutorials/text-engraving.html">Text Engraving</a></li>
                <li><a href="{{base}}/tutorials/3d-profile.html">3D Profile</a></li>
                <li><a href="{{base}}/tutorials/3d-profile-back-face.html">3D Profile - Back face</a></li>
            </ul>
            <li><a href="{{base}}/automation.html">Automation</a></li>
            <li><a href="{{base}}/configuration.html">Configuration</a></li>
            <li data-toggle="collapse" data-target="#appendixSubmenu" class="collapsed">
                <a href="{{base}}/appendix.html">Appendix</a> <span class="arrow"></span>
            </li>
            <ul class="sub-menu collapse in" id="appendixSubmenu">
                <li><a href="{{base}}/whats-new.html">What's New?</a></li>
            </ul>
        </ul>
    </div>
</div>
