<div id="head">
    <a href="http://www.cambam.info">CamBam Online</a> |
    <a href="http://www.cambam.info/downloads">Downloads</a> |
    <a href="http://www.cambam.co.uk/forum/">Forum</a> |
    <a href="http://www.cambam.co.uk/contact.html">Contact Us</a>
</div>
