<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <div class="navbar-right">
                {% comment %}
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                {% endcomment %}
                <ul class="nav navbar-nav">
                    <li><a href="{{homebase}}/.">Home</a></li>
                    <li><a href="{{homebase}}/downloads">Downloads</a></li>
                    <li><a href="http://www.cambam.co.uk/forum/">Forum</a></li>
                    <li><a href="{{homebase}}/contact">Contact Us</a></li>
                    <li><a href="https://sites.fastspring.com/hexray/product/cambam">Buy CamBam</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-subnav navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarsub" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarsub" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <div class="navbar-left">
                <ul class="nav navbar-sub">
                    <li><a href="{{homebase}}/.">News</a></li>
                    <li><a href="{{homebase}}/doc">Documentation</a></li>
                    <li><a href="{{homebase}}/vids">Videos</a></li>
                    <li><a href="{{homebase}}/screenshots">Screenshots</a></li>
                    <li><a href="{{homebase}}/gallery">Gallery</a></li>
                    <li><a href="{{homebase}}/reviews">Reviews</a></li>
                    <li><a href="{{homebase}}/support">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
