{% include base.html %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include topnav.html %}

    {% include sidenav.html %}

    <div class="container">
        <div id="content" class="gallery">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
    {% include pswp.html %}
</body>
</html>
