{% include base.html %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include topnav.html %}

    <div id="main">

        <div id="content">
            {{ content }}
        </div>

    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>
</html>
